@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&family=Teko:wght@300&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Teko', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    padding: 20px 0;
    font-size: 152%;
}
p{
    line-height: 1.5;
}
body{
    background-color: #e9e5dd;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

header{
    margin: 2% 5%;
    border-bottom: 1px solid rgba(0,0,0,.2);
    padding-bottom: 20px;
}

div.grid-container{
    margin: 2% 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:40px;
}

div.grid-container article img{
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
}
div.grid-container article.featured{
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.2);
    align-items: center;
    padding-bottom: 40px;
}
div.grid-container article.featured h3{
    padding: 0;
    padding-bottom: 20px;
}

/* Responsive */
@media(max-width:980px){
    article{
        grid-column: span 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        justify-content: center;
        border-bottom: 1px solid rgba(0,0,0,.2);
        align-items: center;
        padding-bottom: 40px;
    }
    
}

@media(max-width:820px){
    div.grid-container article.featured{
       display: block;
    }
    div.grid-container article.featured h3{
        padding: 20px 0;
    }
    article{
       display: block;
    }
}